@import '../../styles/variables.scss';

$icon_size: 70px;
$height: $nav_height;

.container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;

	justify-content: left;
	width: 100vw;
	height: $height;
	background-color: $background_1;
	z-index: 5;
	user-select: none;
}

.logo {
	font-size: 2.5rem;
	font-weight: 700;
	margin: auto auto auto 1em;
	cursor: pointer;
	width: auto;

	padding: 0.2em 0.5em;

	// text-shadow: 3px 3px 0 red;
}

.logo_menu {
	z-index: 1;
	color: $font_2;
}

.icon_menu {
	position: fixed;
	top: 0.2em;
	right: 0.5em;
	width: $icon_size;
	height: $icon_size;
	margin: calc(($height - $icon_size) / 2);

	cursor: pointer;

	z-index: 1;
}

.options {
	display: none;
	list-style: none;
	margin: auto;
}

.options_menu {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: $height 0 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: $background_2;
	color: $font_2;
	width: 100vw;
	height: calc(100vh - $height);

	.option {
		font-size: 2rem;
		display: flex;
		justify-content: center;

		cursor: pointer;

		h2 {
			font-weight: 600;
			margin: 0;
			&:hover {
				border-bottom: 4px solid $font_2;
				margin-bottom: -4px;
			}
		}
		&.active {
			h2 {
				cursor: default;
				font-weight: 900;
				border-bottom: none;
				margin-bottom: 0;
			}
		}
	}
}

@media only screen and (min-width: 450px) {
	.logo {
		margin-left: auto;
	}
}

@media only screen and (min-width: 1100px) {
	.logo {
		color: $font_1;
		margin: auto 2em;
	}
	.options {
		position: absolute;
		top: 0;
		right: 2em;
		left: auto;
		padding: 0;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		width: max(700px, 50%);
		color: $font_1;
		background-color: $background_1;

		.option {
			height: 100%;
			display: flex;
			align-items: center;
			font-size: 1rem;
			width: fit-content;
			h2 {
				cursor: pointer;
				margin: 0 auto;
				&:hover {
					border-bottom: 4px solid $font_1;
					margin-bottom: -4px;
				}
			}

			&.active {
				h2 {
					cursor: default;
					font-weight: 900;
					font-size: 1.6rem;
					border-bottom: none;
					margin-bottom: 0;
				}
			}
		}
	}

	.icon_menu {
		display: none;
	}
}
