@import '../../styles/variables.scss';

$icon_size: 80px;


.container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;

	height: $nav_height;
	width: 100vw;
}

.menu_icon {
	position: fixed;
	top: 0;
	right: 0;
	width: $icon_size;
	height: $icon_size;
	cursor: pointer;
}
