@import '../styles/variables.scss';

.container {
	width: max(800px, 70%);
	background-color: red;
	margin: 0 auto;
}

.section {
	height: calc(100vh - $nav_height);
	background-color: blue;
	h2 {
		margin: 0;
	}
	h1 {
		margin: 0;
	}
}
