@import '../styles/variables.scss';

.container {
	width: 100vw;
	margin: 0 auto;

	overflow-x: visible;
	overflow-y: scroll;
	scrollbar-width: none;
	height: calc(100vh - $nav_height);
	scroll-snap-type: y mandatory;
}

.section {
	width: min(1100px, 75%);
	margin: 0 auto;
	position: relative;
	scroll-snap-align: start;
	overflow-x: visible;
	height: calc(100vh - $nav_height);
}

#one {
	position: relative;
	.text {
		color: $font_1;
		position: absolute;
		top: 10%;
		margin: auto;
		font-size: 3rem;
		background-color: transparent;
		overflow-x: visible;

		// &::before {
		// 	position: absolute;
		// 	top: -20%;
		// 	right: -30%;
		// 	content: '';
		// 	width: 700px;
		// 	height: 700px;
		// 	border-radius: 50%;
		// 	background-color: #f08080;
		// 	z-index: -1;
		// }
	}

	p {
		font-weight: 200;
		margin: 0;
	}

	h1 {
		position: relative;
		margin: 0;
	}

	.profile {
		$whole_width: 400px;
		$ratio: 1.7;
		$width: calc($whole_width / $ratio);
		position: relative;
		top: 25em;
		right: 0;
		width: $whole_width;
		aspect-ratio: $ratio;

		.circle {
			position: absolute;
			width: $width;
			aspect-ratio: 1;
			top: 0;

			border-radius: 50%;
		}

		#c_1 {
			left: 0;
			background-color: $accent_1;
		}

		#c_2 {
			left: calc(($whole_width - $width) / 2);
			background-color: $background_1;
		}

		.selfie {
			position: absolute;
			top: 0;
			right: 0;
			width: $width;
			border-radius: 50%;
			aspect-ratio: 1/1;
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				aspect-ratio: 1;
				border-radius: 50%;
				background-color: white;
				opacity: 0.2;
			}
		}
	}

	.about_me_button {
		position: absolute;
		bottom: 0;
	}
}

#two {
	background-color: green;
}

#three {
	background-color: orange;
}

@media only screen and (min-width: 1100px) {
	#one {
		.text {
			font-size: 5rem;
			top: 20%;
			h1 {
				&::after {
					content: '';
					position: absolute;
					bottom: 10px;
					left: 43px;
					width: 94%;
					height: 15px;
					background-color: black;
				}
			}
		}
		.profile {
			$whole_width: 900px;
			$ratio: 1.7;
			$width: calc($whole_width / $ratio);
			position: relative;
			top: 4em;
			right: -15em;
			width: $whole_width;
			aspect-ratio: $ratio;

			.circle {
				position: absolute;
				width: $width;
				aspect-ratio: 1;
				top: 0;

				border-radius: 50%;
			}

			#c_1 {
				left: 0;
				background-color: $accent_1;
			}

			#c_2 {
				left: calc(($whole_width - $width) / 2);
				background-color: $background_1;
			}

			.selfie {
				position: absolute;
				top: 0;
				right: 0;
				width: $width;
				border-radius: 50%;
				aspect-ratio: 1/1;
				&::after {
					content: '';
					position: absolute;
					width: 100%;
					aspect-ratio: 1;
					border-radius: 50%;
					background-color: white;
					opacity: 0.2;
				}
			}
		}
	}
}
